main {
    width: 100%;
    margin: auto;
    max-width: 800px;
    margin: 0 auto;
    font-family: "Protest Guerrilla", sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: #383737;
    flex-wrap: wrap;
    color: #fff;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
  }

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1200px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #302f2f;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  color:#eee
  }
  .about-text {
  flex: 2 1 500px;
  }
  .about-image {
  flex: 1 1 300px;
  max-width: 350px;
  }
  .about-image img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  object-fit: cover;
  }

  .nav-links li a, .nav-links button {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .nav-links button {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
  }
  img.logo{
    
    width: 50px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
      
  }

  .contact-btn {
    padding: 0.7rem 1.5rem;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .contact-btn a {
    color: white;
    text-decoration: none;
  }
  
  .contact-btn:hover {
    background-color: #555;
  }
  
  
  footer {
    text-align: center;
    padding: 1rem 0;
    background-color:  #383737;
    font-size: 0.9rem;
    margin-top: 2rem;
    color: #fff;
  }

 
  body.dark-theme {
    background-color: #111;
    color: #eee;
  }
  
  nav, footer {
    transition: background-color 0.3s ease;
  }
  
  body.dark-theme nav, 
  body.dark-theme footer {
    background-color: #222;
  }
  
  body.dark-theme a {
    color: #81cfff;
  }
  
  body.dark-theme button {
    background-color: #444;
    color: white;
  }
  
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
    }
  
    .features {
      grid-template-columns: 1fr;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
      }
    
      .about-text {
        padding: 0;
      }
    
      .contact-btn {
        margin-top: 1rem;
      }
    
  }
  
  @media (max-width: 480px) {
    .logo {
      font-size: 1.2rem;
    }
  
    .nav-links li a, .nav-links button {
      padding: 0.3rem 0.6rem;
      font-size: 0.9rem;
    }
  }