
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #02143f;
  color: white;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

nav {
  background-color: rgb(104, 103, 103);
  text-align: center;
  padding: 15px 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 300px;
  
}

.main {
  background-color: lightgray;
  padding: 20px;
  
}

h2{
  font-size: 15px;
}

aside {
  background-color: rgb(240, 233, 233);
  padding: 20px;
}

footer {
  background-color: #02143f;
  color: white;
  text-align: center;
  padding: 50px ;
  font-size: 18px;
  font-weight: bold;
}
