@media (min-width: 768px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    section {
        width: 45%;
        max-width: 300px;
    }

    .data {
        position: absolute;
        left: 50px;
        top: 200px;
    }

    .weather {
        position: absolute;
        right: 50px;
        top: 400px;
    }

    section h2 {
        background-color: #0e8835;
        padding: 20px;
        color: white;
    }
}

@media (min-width: 1024px) {
    .weather .weather-icon::after {
        content: url('weather-icon.svg'); /* Use SVG icon on large screens */
    }
}
